.inventory {
  background-color: $inventory-background;
  width: 10%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 2px solid $inventory-border;

  .item {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    @include box-shadow(0, 0, 25px, #000, true);
  }
}
