@import "variables";
@import "reset";
@import "mixins";
@import "scenes";
@import "inventory";
@import "dialog";

#pen {
  left: 37%;
  top: 14%;
  width: 4%;
  height: auto;
}

#money {
  left: 41%;
  top: 75%;
  width: 14%;
  height: auto;
}