@import "variables";
@import "reset";
@import "scenes";
@import "inventory";

#pen {
  left: 15%;
  top: 25%;
  width: 8%;
  height: auto;
}

#money {
  left: 41%;
  top: 75%;
  width: 14%;
  height: auto;
}